<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AYUSH Virtual Garden</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_v2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">

</head>
<body style="background-image: url('{{ url_for('static', filename='images/img22.jpg') }}');">

    <!-- Header Section -->
    <div class="header">
        <nav class="transparent-nav">
            <div class="nav-wrapper">
                <a href="#landing" class="brand-logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                    <b>AYUSH <span>Virtual Garden</span></b>
                </a>

                <!-- Hamburger Icon for Mobile -->
                <div class="hamburger-menu">&#9776;</div>
                
                <!-- Desktop Navigation Links -->
                <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
                <ul id="nav-mobile" class="center-align">
                    <li><a href="#landing"><b>Home</b></a></li>
                    <li><a href="{{ url_for('search') }}"><b>Search</b></a></li>
                    <li><a href="{{ url_for('explore') }}"><b>Explore</b></a></li>
                    <li><a href="#"><b>Docs</b></a></li>
                    <li><a href="#"><b>Blog</b></a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#"><b>Login</b></a></li>
                    <li><a href="#"><b>Sign Up</b></a></li>
                </ul>

                <!-- Mobile Navigation Menu -->
                <div class="mobile-nav">
                    <a href="#landing"><b>Home</b></a>
                    <a href="{{ url_for('search') }}"><b>Search</b></a>
                    <a href="{{ url_for('explore') }}"><b>Explore</b></a>
                    <a href="#"><b>Docs</b></a>
                    <a href="#"><b>Blog</b></a></li>
                    <a href="#"><b>Login</b></a></li>
                    <a href="#"><b>Sign Up</b></a></li>
                </div>
            </div>
        </nav>
    </div>

    <!-- Get your next (Pinterest-style Section) -->
    <!-- Landing Page Section -->
    <div class="section landing-page" id="landing">
        <div class="container">
            <!-- Header Section -->
            <h2 class="landing-header">Get Your Next Inspiration</h2>

            <!-- Quotes Section -->
            <div class="landing-quotes">
                <!-- First Quote Line -->
                <div class="quote-line first-line">Welcome to AYUSH Virtual Garden!!</div>

                <!-- Second Quote Line -->
                <div class="quote-line second-line"><b>Discover the Secrets of Nature’s Pharmacy at Your Fingertips by..<b></div>

                <!-- Third Quote Line with Changing Words -->
                <div class="quote-line third-line">
                    <span id="dynamic-word"></span>
                </div>

                <div class="dots-container">
                    <span> </span>
                    <span class="dot" id="dot1" data-index="0"></span>
                    <span class="dot" id="dot2" data-index="1"></span>
                    <span class="dot" id="dot3" data-index="2"></span>
                    <span class="dot" id="dot4" data-index="3"></span>
                </div>

            </div>
        </div>
    </div>
  

    <!-- Other Sections -->

    <!-- Search Section -->
    <div class="section search-section" id="search">
        <div class="search-container">
            <!-- Left Image Grid -->
            <div class="search-image">
                <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="Image1">
            </div>

            <!-- Right Text Grid -->
            <div class="search-content">
                <h2 class="search-subtitle"><b>Looking for something?</b></h2>
                <p class="search-quote">Discover the plants that will enhance your journey!</p>
                <!-- Wrap the button in an anchor tag to make it clickable -->
                <a href="{{ url_for('search_page') }}">
                    <button class="search-btn">Search</button>
                </a>
            </div>
        </div>
    </div>


    <!-- Explore Section -->
    <div class="explore-section">
        <div class="explore-container">
            <!-- Left Column (Content) -->
            <div class="explore-content">
                <h2>Explore Nature's Secrets</h2>
                <p class="quote">Dive into the world of nature and explore through many more!! </p>
                <!-- <button class="explore-btn">Explore</button> -->
                <a href="{{ url_for('explore') }}">
                    <button class="explore-btn">Explore</button>
                </a>
            </div>
            
            <!-- Right Column (Images) -->
            <div class="explore-images">
                <div class="grid-container">
                    <div class="grid-item"><img src="{{ url_for('static', filename='images/img2.jpg') }}" alt="Image 1"></div>
                    <div class="grid-item"><img src="{{ url_for('static', filename='images/img17.jpg') }}" alt="Image 2"></div>
                    <div class="grid-item"><img src="{{ url_for('static', filename='images/img19.jpg') }}" alt="Image 3"></div>
                    <div class="grid-item"><img src="{{ url_for('static', filename='images/img18.jpg') }}" alt="Image 4"></div>
                </div>
            </div>
        </div>
    </div>
      
    <!-- Docs Section -->
    <div class="docs-section" id="docs">
        <div class="docs-container">
            <!-- Left Image Grid -->
            <div class="docs-image">
                <img src="{{ url_for('static', filename='images/img20.jpg') }}" alt="Docs Image">
            </div>

            <!-- Right Text Grid -->
            <div class="docs-content">
                <h2 class="docs-subtitle"><b>Uncover our Resources...</b></h2>
                <p class="docs-quote">Dive into the knowledge repository and research for a deeper understanding!</p>
                <!-- Wrap the button in an anchor tag to make it clickable -->
                <a >
                    <button class="docs-btn">Docs</button>
                </a>
            </div>
        </div>
    </div>

    <!-- Blog Section -->
    <div class="section" id="community">
        <div class="container">
            <h2 class="blog-header">Blogs</h2>
            <h4 class="blog-line">Insights and Discussions: Dive into the World of AYUSH</h4>
            <div class="blog-container">
                <!-- First Column -->
                <div class="blog-column">
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="Blog Image 1">
                        <h3>Blog Title 1</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img2.jpg') }}" alt="Blog Image 2">
                        <h3>Blog Title 2</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img3.jpg') }}" alt="Blog Image 3">
                        <h3>Blog Title 3</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img4.jpg') }}" alt="Blog Image 4">
                        <h3>Blog Title 4</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                </div>
                <!-- Second Column -->
                <div class="blog-column">
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img5.jpg') }}" alt="Blog Image 5">
                        <h3>Blog Title 5</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img6.jpg') }}" alt="Blog Image 6">
                        <h3>Blog Title 6</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img7.jpg') }}" alt="Blog Image 7">
                        <h3>Blog Title 7</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                </div>
                <!-- Third Column -->
                <div class="blog-column">
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img9.jpg') }}" alt="Blog Image 9">
                        <h3>Blog Title 8</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img10.jpg') }}" alt="Blog Image 10">
                        <h3>Blog Title 9</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img11.jpg') }}" alt="Blog Image 11">
                        <h3>Blog Title 10</h3>
                        <p>Short description of the blog post.</p>
                    </div>

                </div>
                <!-- Fourth Column -->
                <div class="blog-column">
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img13.jpg') }}" alt="Blog Image 12">
                        <h3>Blog Title 11</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img14.jpg') }}" alt="Blog Image 13">
                        <h3>Blog Title 12</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img15.jpg') }}" alt="Blog Image 14">
                        <h3>Blog Title 13</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                    <div class="blog-post">
                        <img src="{{ url_for('static', filename='images/img16.jpg') }}" alt="Blog Image 15">
                        <h3>Blog Title 14</h3>
                        <p>Short description of the blog post.</p>
                    </div>
                </div>
            </div>
            <div class="blog-btn-container">
                <a href="#">
                    <button class="blog-btn">
                        See All Blogs
                        <span class="arrow">&rarr;</span> <!-- Right arrow -->
                    </button>
                </a>
            </div>
        </div>
    </div>
    
    
    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            © 2024 AYUSH Virtual Garden
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
    <script src="{{ url_for('static', filename='js/landing-page.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
